h1, h2, h3 {
    text-align: center;
}

/* About Section */

#about-container {
    display: flex;
    flex-direction: row;
}

#about-image {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#about-image > img {
    width: 80%;
    display: block;
    height: auto;
    border-radius: 50%;
}

#about-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    #about-container {
        flex-direction: column;
        align-items: center;
    }
}
